form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {display: block;}

input[type=text], select {
    width: 70%;
    padding: 12px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    width: 70%;
    background-color: #333333;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #111111;
}

input[type=text]:focus {
    background-color: lightgrey;
}

#birthdate {
    width: 67.3%;
    background-color: #333333;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

#birthdate:hover {
    background-color: #111111;
}

body {
    background-color:beige;
    text-align:center;
}