h1{
    color:whitesmoke;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid;
    border-color: brown;
}
body{
    background-color: black;
}

