h1{
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
}
body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    
}
