body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 80%;          
    max-width: 800px;   
    margin: 0 auto;      
    padding: 40px 0;     
}


header {
    background-color: #2c3e50; 
    color: white;            
    text-align: center;        
    padding: 60px 0;          
}


section {
    border-bottom: 1px solid #ddd; 
    padding: 40px 0;          
}

h2 {
    color: #2c3e50;
    margin-bottom: 25px;     
}

.days-grid {
display: grid;              
grid-template-columns: repeat(3, 1fr);
gap: 25px;
}


.days-grid p{
    border: 1px solid #000000;
    padding: 20px;
    font-weight: bolder;
}


.day-box {
    flex: 1 1 300px; 
    display: flex;
    align-items: center;
    margin-bottom: 20px;     
}

.day-box label {
    font-weight: bold;
    margin-right: 15px;      
    min-width: 80px;         
}

.day-box input {
    flex-grow: 1;
    padding: 15px;           
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;     
}


.contact {
    background-color: #f9f9f9; 
    text-align: center;
    padding: 40px 0;         
}

footer {
    text-align: center;
    padding: 30px;           
    background-color: #333;
    color: white;
    font-size: 0.9em;
}

p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: #3498db;
}
header nav {
    position: fixed;
    width: 100%;
    background-color: #2c3e50;
    top: 0%;
}

