body {
  background-color: linear-gradient(to right, #ff7e5f, #feb47b);
  font-family: 'poppins', sans-serif;
  text-align: center;
}

#form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}

#form h1 {
  color: #0f2027;
  text-align: center;

}

#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 4px;

}

.input-control {
  display: flex;
  flex-direction: column;

}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;

}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #2ecc71;

}

input-control.error input {
  border-color: #e74c3c;

}

.input-control small {
  color: #e74c3c;
  font-size: 9px;
  height: 13px;
  
}
